# Игнорировать все файлы в подкаталоге tmp
tmp/
# Игнорировать файлы, заканчивающиеся на _old
*_old
# Игнорировать файлы, заканчивающиеся на _backup
*_backup
# Игнорировать файлы Thumbs.db (Windows)
Thumbs.db
# Игнорировать файлы .DS_Store (macOS)
.DS_Store